[credential]
    helper = osxkeychain
[core]
    editor = vim
[push]
    default = current
[color]
    status = always
[branch]
    autoSetupMerge = always
[commit]
    gpgsign = true

[include]
    path = .gitconfig.personal
[includeIf "gitdir:~/dev/arcbees/**"]
    path = .gitconfig.arcbees
[includeIf "gitdir:~/kronos/**"]
    path = .gitconfig.kronos

[alias]
    list-pr = ! hub pr list
    co-pr = ! hub pr checkout
    make-pr = ! hub pull-request
