[credential]
    helper = osxkeychain
[core]
    excludesfile = ~/.gitignore-global
[push]
    default = current
[color]
    status = always
[branch]
    default = current
    autoSetupMerge = always
[commit]
    # gpgsign = true
[rebase]
    autosquash = true

[user]
    name = Keven Beaulieu
    email = 3943905+kbeaulieu@users.noreply.github.com
    signingkey = C202CC00E382132C

#[include]
#    path = .gitconfig-personal.secret
#[includeIf "gitdir:~/kronos/**"]
#    path = .gitconfig-equisoft.secret

[alias]
    # Branch
    b = branch
    # Pull
    l = pull
    lrom = pull --rebase origin master
    # Push
    p = push
    # Fetch
    f = fetch --all --prune
    # Rebase
    rb = rebase      
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase -i
    rbim = rebase -i master
    # Diff
    d = diff
    dc = diff --cached
    yd = ! ydiff -s --color=always -w 120 -t 4 --wrap | less -r
    ydc = ! ydiff -s --color=always -w 120 -t 4 --wrap -- --cached | less -r
    # Checkout
    co = checkout
    cob = checkout -b
    # Add
    a = add
    aa = add --all
    # Commit
    c = commit
    ca = commit -a
    caa = commit -a --amend
    cna = commit --no-edit --amend
    cana = commit -a --no-edit --amend
    # Status
    st = status
    sb = status -sb
    # Log
    lgs = log --oneline --decorate --color --graph --exclude=refs/stash
    lgsa = lgs --all
    lg = lgs --pretty=format:'%C(yellow) %h%C(auto)%d%Creset %s %Cgreen%cr%Creset by %Cblue%cN%Creset'
    lga = lg --all
    # Show
    s = show --pretty=format:'%C(yellow)%h%C(auto)%d %cd %Cgreen(%cr)%Creset by %C(blue)%cN%Creset%n%s%n' --date=short --diff-algorithm=minimal
    ss = s --compact-summary
    # Files
    ignored = ! git ls-files -v | grep "^[[:lower:]]"
    # WIP
    wip = ! git add -A && git commit -m "--wip--"
    unwip = ! git log -n 1 | grep -q -c -- "--wip--" && git reset HEAD~1
    # Github PR
    pr-mk = ! hub pull-request
    pr-ls = ! hub pr list
    pr-co = ! hub pr checkout

